#contents {
    overflow-x: hidden;
}

#grid-container {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 1%;
    overflow: hidden;
    padding: 5px;
    justify-content: center;

}

.filter select {
    width: auto;
    /* Ubah lebar select */
    margin-left: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section {
    margin-bottom: 20px;
    padding: 20px;
    border: 0, 5px solid #7f8994;
    border-radius: 10px;
    gap: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.section__title {
    margin-bottom: 10px;
}

.section__total-revenue,
.section__total-transaction {
    font-size: 2em;
    color: #dbcb42;
    box-sizing: content-box;
}

.dropdown {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-color: transparent;
}

.stats-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stats {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.section__chart {
    width: 100%;
    max-width: 50vw;
    /* 50% of the viewport width */


    @media (min-width: 768px) {

        .charts-container,
        .stats-container {
            flex-direction: row;
        }

        .section__chart,
        .section {
            flex: 1 1 calc(45vw - 20px);
            /* 45% of the viewport width minus 20px for gap */
        }
    }

    /* Menggunakan vw dan vh untuk ukuran kotak */
    .stats-container .section {
        width: calc(45vw - 20px);
        height: 20vh;
        /* 20% of the viewport height */
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}