#contents {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    overflow-x: hidden;
}

#content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-gap: 10px;
}

.card {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.card canvas {
    width: 50%;
    height: 30px;
}