table {
    border-collapse: collapse;
    width: 100%;
    font-size: 0.8vw;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.action {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}