.container {
  max-width: 50vw;
  margin: 0 auto;
  text-align: center;
}

section {
  margin-bottom: 18px;
}

h2 {
  margin-bottom: 10px;
  text-align: center;
}

.mentor-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  max-width: 60vw;
  margin: 0 auto;
}

.mentor {
  text-align: center;
}

.mentor h5 {
  margin-bottom: 10px;
}

.mentor-profile {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  flex-direction: column;
}

.mentor-profile img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
}

.mentor-profile h5 {
  margin: 0;
}

.team-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px 20px;
}

.team-row {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 5px;
  justify-content: center;
}

.team-member {
  text-align: center;
  width: 20%;
  margin-left: 20px;
}

.team-member img {
  width: 7vw;
  height: 7vw;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

/* Popup */
.popup {
  display: none; /* Menyembunyikan popup secara default */
  position: fixed; /* Posisi tetap di layar */
  top: 50%; /* Jarak atas 50% dari layar */
  left: 50%; /* Jarak kiri 50% dari layar */
  transform: translate(-50%, -50%); /* Menggeser popup ke tengah */
  width: 25vw;
  height: 50vh;
  background-color: #f5f5f5;
  padding: 20px 20px; /* Padding atas/bawah 20px, kiri/kanan 20px */
  border-radius: 10px;
  box-shadow: 1 1 10px rgba(0, 0, 0, 0.2);
  border: 1.5px solid #110909;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Menjajarkan konten ke tengah secara horizontal */
  height: 100%;
  justify-content: center; /* Menjajarkan konten ke tengah secara vertikal */
}

.popup-content p {
  text-align: left; /* Teks di dalam elemen rata kiri */
  margin: 8px 0;
  width: 100%;
}

.popup-content img {
  width: 10vw; /* Lebar 10% dari viewport */
  height: 20vh; /* Tinggi 20% dari viewport */
  border-radius: 50%;
  margin-bottom: 10px; /* Margin bawah 10px */
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  color: #ebbb37;
  border-radius: 50%;
  padding: 5px;
}

/* Ensure responsive layout */
@media screen and (max-width: 768px) {
  .mentor-container {
    flex-direction: column;
    max-width: 100%;
    gap: 20px;
  }

  .team-row {
    flex-direction: column;
    width: 100%;
  }

  .team-member {
    width: 100%;
    margin-left: 0;
  }
}
